<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Form Student </title>
</head>

<body>
  <h1> Input data student </h1>
  <form action="/student" method="post">
    <p> <label> First name </label>
      <input type="text" name="firstname"><br> </p>
    <p> <label> Last name </label>
      <input type="text" name="lastname"><br> </p>
    <p> <label> Gender </label>
      <input type="text" name="gender"><br> </p>
    <p> <label> Age </label>
      <input type="text" name="age"><br> </p>
    <input type="Submit" value="SUBMIT">
  </form>
</body>

</html>
