<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Sign Up</title>
  </head>
  <body>
    <h1>Student Registration Form</h1>
    <form action="/regis_success.ejs" method="POST">
      First Name: <br>
      <input type="text" name="firstname"><br>
      Last Name: <br>
      <input type="text" name="lastname"><br>
      <input type="button" onclick="alert('Registration Success!')" value="Sign Up">
    </form>
  </body>
</html>
