<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form data Student</title>
</head>
<body>
    <h1>Form Input data Student</h1>
    <form action="/student" method="post">
        <label>First Name</label>
        <br>
        <input type="text" name="firstName" />
        <br>
        <label>Last Name</label>
        <br>
        <input type="text" name="lastName" />
        <br>
        <label>Gender</label>
        <br>
        <input type="text" name="gender" />
        <br>
        <label>Age</label>
        <br>
        <input type="text" name="age" />
        <br>
        <input type="submit" value="SEND" />
    </form>
</body>
</html>