<html>
	<head>
		<title>homepage</title>
	</head>
	<body>
		<h1>Profil Sekolah SEgar Sari</h1>

		<p>
			Nama Sekolah : Sekolah Segar Sari<br>
			Berdiri Tahun : 2001<br>
			Nama Yayasan : SEGAR MAKMUR.<br>

			Alamat Lengkap : Jl. Segar Sari 2.<br> 
			Telp 456456<br>
			Faks 34254 <br>
			email:sekolah@segar.id<br>
		</p>
	</body>
</html>		

