<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage School</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
</head>

<style>

a{
  font-size: 15;
  color: black
}

</style>

<body class="container">

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/students">Students</a></li>
      <li><a href="/teachers">Teachers</a></li>
    </ul>

    <main>
        <div class="jumbotron text-center">
            <h1>Home Page</h1>
            <p>This is my first Node and Express home page!</p>
            <img src="https://cdns.klimg.com/merdeka.com/i/w/news/2016/08/19/743738/670x335/600-bangku-sekolah-negeri-di-kota-bekasi-kosong.png" alt="This is the city!">
        </div>
    </main>

</body>
</html>
