<html>

<head>
  <title>Home</title>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <center>
    <br>
    <div>
      <hr>
      <h1>Welcome to School of Grace.</h1>
      <p>The School of Grace, where each child is valuable and unique, and teachers tasked</p>
      <p>with directing and challenging students to explore, develop and use their talents in a way that glorifies God.</p>
      <hr>
      <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </center>

  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>

</html>
