<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School</title>
  </head>
  <body>
    <h1>School</h1>
    <h2>Home</h2>
    <p><a href="/student" target="_blank">Sign Up Here!</a></p>
    <p><a href="/teacher" target="_blank">Teachers Page</a></p>
    <footer> -2018- </footer>
  </body>
</html>
