<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: orange;
    clear: left;
    text-align: center;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}  
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<div class="container">
<header>
   <h1>Sekolah Hacktiv8</h1>
</header>
  
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/student">Student</a></li>
    <li><a href="/teacher">Teacher</a></li>
  </ul>
</nav>

<article>
  <h1>Student Page</h1>

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <% students.forEach(function(student){ %>
        <tr>
          <td><%- student.firstName %></td>
          <td><%- student.lastName %></td>
        </tr>
    <% }); %>
  </table>

  <br>
  <form action="/student" method="post">
    First name:<br>
    <input type="text" name="firstName">
    <br>
    Last name:<br>
    <input type="text" name="lastName">
    <br><br>
    <input type="submit">
  </form>

</article>

<footer>Copyright &copy; W3Schools.com</footer>

</div>

</body>
</html>