<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage School</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
</head>

<style>

a{
  font-size: 15;
  color: black
}

</style>

<body class="container">

    <main>
        <div class="jumbotron text-center">
            <h1>Students Page</h1>
            <p>This is my first Node and Express home page!</p>
            <img src="https://png.pngtree.com/element_origin_min_pic/16/09/22/1957e3bea4823ef.jpg" alt="This is the city!">
        </div>
    </main>

</body>
</html>
