<html>
  <head>
    <title>Register Suzuran Student Form</title>
  </head>
  <body>
    <center>
      <h2>Anda yakin menjadi siswa suzuran ?</h2>
    <form action="/student" method="post">
        <tr>
          <td><p>Name :</span></p>
          <td><input type="text" name="studentName" value=""></td>
        </tr>
        <tr>
          <td><p>Gender:</p></td>
          <td><input type="text" name="gender" value=""></td>
        </tr>
        </br>
        <tr>
          <td><p>Birthdate:</p></td>
          <td><input type="text" name="birthdate" value=""></td>
        </tr>
      <div>
        </br>
        <input type="submit">
      </div>
    </form>
  </center>
  </body>
</html>
