<!DOCTYPE html>
<html>
<head>
  
    <title>School</title>
  
</head>
<body>
   HI <%= name%>
   WELCOME TO <%= school %>
    <h1>STUDENT</h1>
    <form action="/student" method='post'> 
       Name: <input type="text" name='name'> <br> <br>
       School: <input type="text" name='school'> <br> <br>
        <input type="submit">
    </form>
</body>
</html>