<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TEACHER</h1>
    <h2>Students Table</h2>
    <div class="student_table">
      <table border="1px solid black">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach((student) => { %>
            <tr>
              <td><%= student.firstName %></td>
              <td><%= student.lastName %></td>
              <td><%= student.gender %></td>
            </tr>
            <% })%>
          </tbody>
        </table>
    </div>
  </body>
</html>
