<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table Teacher</title>
</head>
<body>
    <h1>Tabel Teacher</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(teacher){ %>
            <tr>
                <td><%= teacher.fullname %></td>
                <td><%= teacher.gender %></td>
                <td><%= teacher.address %></td>
                <td><%= teacher.city %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>