<!DOCTYPE html>
<html>
<head>
	<title>Teacher's List</title>
</head>
<body>
	<h2>Daftar Guru </h2>
	<table>
  <tr>
    <th>Nama</th>
    <th>Bidang Studi</th>
    <th>Tanggal Lahir</th>
  </tr>
  <tr>
    <td>Donal Triumph</td>
    <td>Sejarah</td>
    <td>10 Maret 1955</td>
  </tr>
  <tr>
    <td>Jaean Claude</td>
    <td>Fisika</td>
    <td>2 Mei 1960</td>
  </tr>
  
</table>
</body>
</html>