<html>
  <head>
    <title>Teachers Data</title>
  </head>
  <body>
    <h2>Teachers Data: </h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <% teachers.forEach(teacher => { %>
        <tr>
          <th> <%= teacher.name%> </th>
          <th> <%= teacher.age%> </th>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
