<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>

    <h2>Fname</h2> : <h2> <%= data.first_name %></h2>
    <h2>Lname</h2> : <h2> <%= data.last_name %></h2>
    <h2>email</h2> : <h2> <%= data.email %></h2>
</body>

</html>